.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 620px;
    background-color:black;
    /* background-color: #1f2235; */
    /* background-image: url('../../assets/Home/bg.jpg'); */
}